.leading {
    background-color: #fff;
    padding-bottom: 95px;

    &__main {
        padding-top: 93px;
    }

    &__head {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        color: #000000;
    }

    &__text {
        padding-top: 68px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 59px;
        line-height: 70px;
        letter-spacing: 1.28px;
        color: #000000;
        max-width: 887px;
    }

    &__btns {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        color: #000000;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #BED7FF;
        padding-right: 24px;
        height: 48px;
        width: 265px;
        margin-top: 46px;

        button {
            background: #5887FF;
            border-radius: 4px;
            height: 48px;
            width: 48px;
            border: 0;
        }

        button:active {
            box-shadow: inset 0 0 15px rgb(0, 85, 25);
            margin: 1px;
        }

        button:hover {
            background-color: #00ff2f;
            color: yellow;
        }
    }

    &__last-text {
        padding-top: 97px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: #000000;
    }
}