.work {
    background-color: #fff;

    &__content {
        display: flex;
        padding-top: 70px;
    }

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 51px;
        line-height: 61px;
        letter-spacing: 3.2px;
        color: #000000;
        max-width: 565px;
    }

    &__text {
        margin-top: 36px;
        max-width: 573px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 36px;
        color: #000000;
    }

    &__work {
        margin-right: 115px;
    }

    &__btns {
        margin-top: 46px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        color: #000000;
        height: 48px;
        width: 237px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FFCEE0;
        padding-right: 24px;

        button {
            background: #FF4B4B;
            border-radius: 4px;
            height: 48px;
            width: 48px;
            border: 0;
        }
    }
}